body {
    margin: 0;
    background-color: rgb(245,245,245);
    font-family: 'arimo', sans-serif;
}
a {
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6 {
    padding: 0;
    margin: 0;
}

header {
    background-color: white;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 20px;
    margin-bottom: 40px;
}

.tables {
    margin-top: 40px;
    background-color: white;
    width: 920px;
    height: 1100px;
    margin: 0 auto 40px; auto;
    padding: 20px;
    color: rgb(80,80,80);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.1);
}


.tables_terasse a{
    display: block;
    width: 100%;
    height: 100%;
}

.tables_terasse div{
    float: left;
    height: 100px;
    width: 100px;
    margin: 25px;
    background: url("/images/table.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.tables_terasse{
    padding: 10px;
    height: 290px;
    width: 900px;
    background-color: deepskyblue;
}

.tables_wintergarten a{
    display: block;
    width: 100%;
    height: 100%;
}

.tables_wintergarten div{
    float: right;
    height: 100px;
    width: 100px;
    background-color: rosybrown;
    margin: 25px;
    background: url("/images/table.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.tables_wintergarten{
    padding: 10px;
    height: 770px;
    width: 310px;
    background-color: lawngreen;
    float: left;
}

.tables_restaurant a{
    display: block;
    width: 100%;
    height: 100%;
}

.tables_restaurant div{
    float: right;
    height: 100px;
    width: 100px;
    background-color: rosybrown;
    margin: 25px;
    background: url("/images/table.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.tables_restaurant{
    padding: 10px;
    height: 770px;
    width: 570px;
    background-color: deeppink;
    float: right;
}

.titel {
    font-family: 'lobster', cursive;
    font-size: 30px;
    color: #7bb5e0;
    margin-bottom: 30px;

}
.text{
    font-size: 17px;
}
.logo {
    width: 150px;
    height: 150px;
    background-image: url("/images/Logo.png");
    background-size: cover;
    background-position: center center;
    margin: 0 auto;
}
.navigation {
    margin-top: 20px;
    padding-top: 20px;
}
.navigation ul {
    list-style: none;
    text-align: center;
    margin: 0;
}
.te{
    padding: 0;
}
.navigation ul li {

    padding-left: 20px;
    padding-right: 20px;
    margin-left: 10px;
    margin-right: 10px;
    display: inline;
}
.navigation ul li a {
    dispay: inline-block;
    color: #7bb5e0;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}
.navigation ul li a:hover {
    border-bottom: 2px solid #7bb5e0;
}
.content {
    margin-top: 40px;
    background-color: white;
    width: 860px;
    margin: 0 auto 40px; auto;
    padding: 20px;
    color: rgb(80,80,80);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.1);

}

.mannschaftenbox{
    text-align: center;
    margin-top: 40px;
    background-color: white;
    width: 860px;
    margin:  auto;
    padding: 20px;
    color: rgb(80,80,80);
    margin-bottom: 10px;
}
.register{
   text-align: center;
}
p{
    display: inline-block;
}

.bodypanel{
    text-align: center;
    font-size: 20px;
}

.subinfo {
    text-transform: uppercase;
    color: rgb(190,190,190);
    font-weight: bold;
}
.allpanels{
    width: 80%;
    margin: auto;

}
.defaultpanel{
    margin-bottom: 20px;
    background-color: white;
}



.eingabefelder{
    text-align: center;
    width: 50%;
    margin: auto;
}

.textForm {
    padding:12px;
    color: rgb(180,180,180);
    font-family: 'arimo', sans-serif;
    font-size: 14px;
    border: 2px solid rgb(210,210,210);
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}
.textForm:focus {
    outline: none;
}

.label {
    text-transform: uppercase;
    font-size: 12px;
    color: rgb(160,160,160);
    margin-bottom: 10px;
}

.submitForm {
    border: 2px solid #5996bf;
    color: white;
    background-color: #62abdc;
    font-family: 'arimo', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
    text-decoration: none;
    margin-bottom: 10px;
}
.u_titel {
    text-transform: uppercase;
    color: rgb(170,170,170);
    font-weight: bold;
}

.spielerBild {
    width: 200px;
    height: 200px;
    background-position: center center;
    background-size: cover;
    float: right;
}

.link {
    color: #7282bd;
}
.link:hover {
    text-decoration: underline;
}

.fehler {
    padding: 10px;
    color: white;
    text-align: center;
    margin-bottom: 20px;
    background-color: #bd4b4b;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 2px solid #a04242;
}

footer {
    margin-top: 30px;
    width: 100%;
    text-align: center;
    color: rgb(160,160,160);
    text-transform: uppercase;
    margin-bottom: 50px;
}